// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: shabnam;
    src: url("./fonts/shabnam.woff");
}

body {
    font-family: 'shabnam' !important;
    direction: rtl;
    text-align: right;
    font-size: 14px !important;
}

html {
    direction: rtl;
    font-family: 'shabnam' !important;
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    direction: rtl;
    text-align: right;
    font-family: 'shabnam' !important;
}

a {
    direction: rtl;
    text-align: right;
}

p {
    direction: rtl;
    text-align: right;
}

.media {
    direction: rtl !important;
    text-align: right !important;
}

.counters {
    margin-left: 30px;
    font-size: 10px;
    text-align: center;

    strong {
        display: block;
        font-size: 2em;
    }

    .vote,
    .answer {
        width: 60px;
        height: 60px;
    }

    .status {
        &.unanswered {
            border: none;
        }

        &.answered {
            border: 1px solid $color-green;
            color: $color-green;
        }

        &.answer-accepted {
            background: $color-green;
            color: $color-white;
        }
    }

    .view {
        margin-top: 10px;
    }
}

form,
.form-delete {
    display: inline;
}
